.main {
  background-color: white;
}

.main-header {
  position: fixed;
  text-align: center;
  width: 100%;
  color: rgba(60, 110, 170, 1);
}

.main-pokemon-list {
  position: relative;
  top: 100px;
}

.main-logo {
  height: 10vmin;
  pointer-events: none;
}

.main-list {
  margin-left: 50px;
  color: rgb(200, 150, 20);
  text-align: left;
  font-size: 2vh;
}
