.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(60, 110, 170, 1);
}

.App-list {
  color: rgb(250, 200, 70);
  text-align: left;
  font-size: 2vh;
}

a:link {
  color: rgb(250, 200, 70);
}

a:visited {
  color: rgba(60, 110, 170, 1);
}

a:hover {
  color: rgba(60, 110, 170, 1);
}

a:active {
  color: rgba(60, 110, 170, 1);
}
